body {
  font-family: Helvetica, Arial;
  background-color: #333;
}

.pure-g {
  /*padding: 1.5em 0;*/
}
.button-xlarge {
  font-size: 40px;
  padding: 6px 0;
  margin: 0 5%;
  width: 90%;
}

.container {
  width: 570px;
  margin: 0 auto;
}

#stopwatch__display {
  color: orange;
  font-size: 84px;
  font-weight: bold;
  padding: 30px 0;
  text-align: center;
}

#stopwatch__results {
  font-size: 40px;
  color: #b85;
  text-align: center;
  padding: 15px 0;
}
